<a href="https://colab.research.google.com/github/ToriStoner/Assignment-2-Data-/blob/main/SQLite_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
connection = sqlite3.connect('student_grades.db')
print("Database created and connected!")

Database created and connected!

In [2]:
# Create a cursor object
cursor = connection.cursor()

# Explanation
print("Cursor created!")

Cursor created!

In [3]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    student_id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT,
    last_name TEXT
)
''')

print("Sales table created!")

Sales table created!

In [11]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS grades (
    grade_id INTEGER PRIMARY KEY AUTOINCREMENT,
    student_id INTEGER,
    subject TEXT,
    FOREIGN KEY(student_id) REFERENCES students(student_id)
)
''')

print("Sales table created!")

Sales table created!