<a href="https://colab.research.google.com/github/ToriStoner/Assignment-2-Data-/blob/main/SQLite_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Create a connection to an SQLite database
import sqlite3
connection = sqlite3.connect('student_grades.db')
print("Database created and connected!")

Database created and connected!

In [2]:
# Create a cursor object
cursor = connection.cursor()

# Explanation
print("Cursor created!")

Cursor created!

In [3]:
#create students table
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    student_id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT,
    last_name TEXT
)
''')

print("Sales table created!")

Sales table created!

In [5]:
#create grades table
cursor.execute('''
CREATE TABLE IF NOT EXISTS grades (
    grade_id INTEGER PRIMARY KEY AUTOINCREMENT,
    student_id INTEGER,
    subject TEXT,
    grade INTEGER,
    FOREIGN KEY(student_id) REFERENCES students(student_id)

)
''')

print("Sales table created!")

Sales table created!

In [6]:
#insert data into student table
student_data = [
    (1, 'Alice', 'Johnson'),
    (2, 'Bob', 'Smith'),
    (3, 'Carol', 'White'),
    (4, 'David', 'Brown'),
    (5, 'Eve', 'Davis')
]

# Insert data into the table
cursor.executemany('''
INSERT INTO students (student_id, first_name, last_name) VALUES (?, ?, ?)
''', student_data)

# Commit the transaction
connection.commit()

print("Data inserted into the student table!")

Data inserted into the student table!

In [9]:
# insert data into grades table
grades_data = [
    (1,1,'Math',95),
    (2,1,'English',88),
    (3,1,'History', 90),
    (4,2,'Math', 82),
    (5,2,'English',76),
    (6,2,'History',85)
]

# Insert data into the flavor_details table
cursor.executemany('''
INSERT INTO grades (grade_id, student_id, subject, grade) VALUES (?,?, ?, ?)
''', grades_data)

# Commit the transaction
connection.commit()

print("Data inserted into the grades table!")

Data inserted into the flavor details table!

In [ ]:
#Retrieve all students' names and their grades