<a href="https://colab.research.google.com/github/ToriStoner/Assignment-2-Data-/blob/main/Starting_Data_Appendix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Crime_Data_from_2020_to_Present-2.csv")

<ipython-input-2-51629148768e>:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Crime_Data_from_2020_to_Present-2.csv")

In [4]:
df["Vict Age"].describe()

count    89962.000000
mean        30.043785
std         21.711212
min         -3.000000
25%         12.000000
50%         31.000000
75%         45.000000
max         99.000000
Name: Vict Age, dtype: float64

In [6]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sns.barplot(df["Vict Age"])
plt.xlabel("Victim Age")
plt.ylabel("Count")
plt.show()